<!DOCTYPE html>

{%extends "base2.html"%}

{%block head%}
Bluetooth Earbuds
{%endblock%}

{%block body%}
<style>
.review {
  position:absolute;
  width:10%;
  height:auto;
  left :45%;
  opacity:1;
}

.review:hover{
  opacity:0.5
}

</style>

<p1>A pair of earphones that let me escape reality while practicing golf.</p1>
<br>
<p1>Click below to let me 'hear' your review of my website</p1>
<br>
<div class="review">
<a href="/review">
  <img src="static/review.png" style="width:100%;height:auto;">
</a>
</div>
{%endblock%}
