@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

/*text format*/
h1 {
  width:100%;
  color: rgb(238, 238, 238);
  font-family: 'Press Start 2P', monospace;
  font-size: 165%;
  text-align:center;
  padding : 0;
}

h2 {
  color: rgb(219, 168, 27);
  font-family: 'Press Start 2P', cursive;
  font-size: 120%;
  text-align:center;
}

h3 {
  width:100%;
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', monospace;
  font-size: 170%;
  text-align:center;
  padding : 0;
  margin : 5px;
}

p1 {
  color: rgb(0, 51, 255);
  font-family: 'DotGothic16', monospace;
  width: 125%;
  font-size: 150%;
}

p2 {
  color: black;
  background-color: rgb(145, 143, 143);
  font-family: 'DotGothic16', monospace;
  font-size: 60%;
}

/*navigation bar*/
.topnav {
  display:flex;
  position:top;
  height:70px;
  overflow: hidden;
  background-color: rgb(219, 168, 27);
  background-position: center;
  background-size:cover;
  padding:0;
  margin:0;
}

div.back {
  position: absolute;
  opacity:1;
  top:2%;
  right:2%;
  height:80px;
  width:70px;
}

div.admin {
  position: absolute;
  opacity:1;
  top:2%;
  left:2%;
  height:60px;
  width:120px;
}

.back:hover,.admin:hover {
  opacity:0.5
}

/*form stuff*/
.input{
  color: rgb(0, 0, 0);
  font-family: 'DotGothic16', monospace;
  width: 125%;
  font-size: 90%;
  position:center;
}

.submit {
  width:100%;
  color: rgb(238, 238, 238);
  font-family: 'Press Start 2P', monospace;
  font-size: 110%;
  text-align:center;
  padding : 0;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border:black dotted 2px;
}

label {display: block;}

input[type=text],
input[type=number],
input[type=password]
select {
  width: 100%;
  padding: 12px 12px;
  margin: 6px 6px;
  display:inline-block;
  border: 1px solid #544e4e;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(219, 168, 27);
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity:1;
}

input[type=submit]:hover {
  opacity:0.5;
}
